{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "experimentalObjectRestSpread": true,
        "forOf": true,
        "generators": true,
        "globalReturn": true,
        "jsx": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
    },
    "rules": {
        "array-bracket-spacing": 0,
        "block-spacing": 0,
        "brace-style": 0,
        "camelcase": 0,
        "comma-dangle": [2, "always"],
        "comma-spacing": 0,
        "comma-style": 0,
        "computed-property-spacing": 0,
        "consistent-this": 0,
        "eol-last": 0,
        "func-names": 0,
        "func-style": 0,
        "id-length": 0,
        "id-match": 0,
        "indent": 0,
        "jsx-quotes": 0,
        "key-spacing": 0,
        "linebreak-style": 0,
        "lines-around-comment": 0,
        "max-depth": 0,
        "max-len": 0,
        "max-nested-callbacks": 0,
        "max-params": 0,
        "max-statements": 0,
        "new-cap": 0,
        "new-parens": 0,
        "newline-after-var": 0,
        "no-array-constructor": 0,
        "no-bitwise": 0,
        "no-continue": 0,
        "no-inline-comments": 0,
        "no-lonely-if": 0,
        "no-mixed-spaces-and-tabs": 0,
        "no-multiple-empty-lines": 0,
        "no-negated-condition": 0,
        "no-nested-ternary": 0,
        "no-new-object": 0,
        "no-plusplus": 0,
        "no-restricted-syntax": 0,
        "no-spaced-func": 0,
        "no-ternary": 0,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 0,
        "no-unneeded-ternary": 0,
        "object-curly-spacing": 0,
        "one-var": 0,
        "operator-assignment": 0,
        "operator-linebreak": 0,
        "padded-blocks": 0,
        "quote-props": 0,
        "quotes": 0,
        "react/display-name": 0,
        "react/forbid-prop-types": 0,
        "react/jsx-boolean-value": 2,
        "react/jsx-closing-bracket-location": 2,
        "react/jsx-curly-spacing": 2,
        "react/jsx-indent-props": [2, 2],
        "react/jsx-key": 2,
        "react/jsx-max-props-per-line": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-literals": 0,
        "react/jsx-no-undef": 2,
        "react/jsx-quotes": 2,
        "react/jsx-sort-prop-types": 2,
        "react/jsx-sort-props": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-danger": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-direct-mutation-state": 2,
        "react/no-multi-comp": 2,
        "react/no-set-state": 0,
        "react/no-unknown-property": 2,
        "react/prefer-es6-class": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 0,
        "react/require-extension": 2,
        "react/self-closing-comp": 2,
        "react/sort-comp": 2,
        "react/wrap-multilines": 2,
        "require-jsdoc": 0,
        "semi": 0,
        "semi-spacing": 0,
        "sort-vars": 0,
        "space-after-keywords": 0,
        "space-before-blocks": 0,
        "space-before-function-paren": 0,
        "space-before-keywords": 0,
        "space-in-parens": 0,
        "space-infix-ops": 0,
        "space-return-throw-case": 0,
        "space-unary-ops": 0,
        "spaced-comment": 0,
        "wrap-regex": 0,
    },
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "Rx": false,
        "describe": false,
        "expect": false,
        "it": false
    }
}