@import 'sticky-footer';

body {
  color: #333;
  font-family: 'Roboto', sans-serif;
}

footer p {
  font-weight: bold;
  text-align: center;
}

#projects {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

#projects-wrapper {
  margin-top: 30px;
}
