@import 'variables-and-mixins';
@import 'sticky-footer';
@import 'vendor-changes';

body {
  color: #333;
  font-family: 'Roboto', sans-serif;

  @include link-color($primary);
}

#container {
  background-color: #f2f7f4;
  header {
    background-color: #fff;
    border-bottom: 1px solid $shadow-color;
    padding-bottom: 10px;

    @include clearfix();
    h1,
    h2 {
      font-weight: 100;
    }
  }
  h3 {
    font-weight: 300;
  }
  ul {
    list-style: none;
    margin-top: 40px;
    padding: 0;
    li {
      border-bottom: 1px solid #eef0f3;
      font-size: 18px;
      margin-bottom: 15px;
      padding-bottom: 20px;
      .show-code {
        padding-top: 4px;

        @include link-color($tertiary);
      }
    }
  }
}

.z-depth-2 {
  box-shadow: 0 0 5px 1px $shadow-color;
}

footer {
  background-color: #fff;
  border-top: 1px solid $shadow-color;
  p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;

    @include link-color($secondary);
  }
}

#projects {
  background-color: rgb(246, 247, 253);
  box-shadow: 0 0 4px .5px rgba(0,0,0,.3);
  margin-top: 30px;
  padding-bottom: 40px;
}
