@import 'style/colors';

a {
  color: $link-color;
  transition: color 0.5s ease;
  text-shadow: 1px 1px 1px #ddd;
  &:focus {
    color: $link-color;
  }
  &:hover {
    color: $link-color-dark;
  }
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0 0 20px;
}

.row {
  margin: 0;
}

#main {
  // min-height: 100%;
}