.loader {
  background-color: rgba(0,0,0,.2);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  .loader-animation {
    height: 40px;
    left: 50%;
    margin: -20px -50px;
    position: absolute;
    top: 50%;
    width: 100px;
    div {
      background: #fff;
      border-radius: 50%;
      height: 20px;
      position: absolute;
      width: 20px;
      &.loader-d1 {
        animation: animate-loader 2s linear infinite;
      }
      &.loader-d2 {
        animation: animate-loader 2s linear infinite -.4s;
      }
      &.loader-d3 {
        animation: animate-loader 2s linear infinite -.8s;
      }
      &.loader-d4 {
        animation: animate-loader 2s linear infinite -1.2s;
      }
      &.loader-d5 {
        animation: animate-loader 2s linear infinite -1.6s;
      }
      @-webkit-keyframes animate-loader {
        0% {
          left: 100px;
          top: 0;
        }
        80% {
          left: 0;
          top: 0;
        }
        85% {
          height: 20px;
          left: 0;
          top: -20px;
          width: 20px;
        }
        90% {
          height: 15px;
          width: 40px;
        }
        95% {
          height: 20px;
          left: 100px;
          top: -20px;
          width: 20px;
        }
        100% {
          left: 100px;
          top: 0;
        }
      }
    }
  }
}
