@import 'constants/colors';
@mixin statusColors($status, $color) {
  .build-status-#{$status},
  .test-status-#{$status} {
    .title-icon i {
      color: $color;
    }
  }
}
.directive-expanded-build {
  min-height: 90px;

  @include statusColors('forbidden', $error-color);
  @each $state-colors-pair in $state-colors-pairs {
    @include statusColors(nth($state-colors-pair, 1), nth($state-colors-pair, 2));
  }
  .build-icon {
    margin-left: 4px;
  }
  .build-state {
    position: relative;
  }
  .arrow-separator {
    color: $light-grey;
    font-size: 90px;
    left: -20px;
    position: absolute;
    top: 0;
  }
  .status-message .status-keyword {
    &.waiting-keyword {
      color: #aa74ad;
    }
    &.forbidden-keyword {
      color: $error-color;
    }
  }
  .tests-value {
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
    &.warning-tests {
      background-color: $warning-color;
    }
    &.success-tests {
      background-color: $success-color;
    }
  }
}
